<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="static/images/Omega.png" />
    <title>Omega - Error</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="active">
          <a href="/">Ѽ</a>
        </li>
        <li>
          <a href="/auth/signup">Signup</a>
        </li>
        <li>
          <a href="/auth/login">Login</a>
        </li>
        <li>
          <a href="#home">Contact</a>
        </li>
      </ul>
      <div class="navRight">
        <li class="user">
          <img style="height: 40px" src="User.png" alt="" />
        </li>
        <div class="dropdown">
          <button class="dropdown-btn">Categories</button>
          <div class="dropdown-content">
            <a href="#">Funny</a>
            <a href="#">Kitties</a>
            <a href="#">Finance</a>
            <a href="#">Economy</a>
            <a href="#">History</a>
            <a href="#">Tourism</a>
            <a href="#">Decoration</a>
            <a href="#">Tecnology</a>
            <a href="#">Security</a>
            <a href="#">Sports</a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="box">
        <h1>Error</h1>
        <h3>Ups... Algo salió mal</h3>
        <p>El campo {{field}} no puede tener un valor {{reason}} a {{value}}</p>
      </div>
    </main>
  </body>
</html>
